body {
    padding-top: 60px;
    padding-bottom: 40px;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.post-search-row {
    margin-bottom: 30px;
}

div#posts-container .post-row {
    margin-bottom: 20px;
}

div#posts-container .post {
    margin-left: 0px;
    border-radius: 10px;
    border-width: 3px;
    box-shadow: 2px 7px 10px -9px;
}

div#posts-container .post-controls {
    border-top : none;
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 7px 10px -11px;
}

div#posts-container .symptom {
    border-color: #428BCA;
}
div#posts-container .cause {
    border-color: #F0AD4E;
}
div#posts-container .solution {
    border-color: #5CB85C;
}

.highlighted-term {
    color: #FFFFFF;
    background: #FF83DC;
    border-radius: 0.3em; 
}

.label{
    float: right;
    font-size: 0.9em;
    margin-top: 10px;
    margin-left: 3px;
    padding: 5px;
}
